.ml-small {
  margin-left: 1rem;
}

.resetP {
  padding: 0 !important;
}

.just-self-start{
  justify-self: flex-start;
}

.mb-5{
  margin-bottom: 5rem !important;
}

.mr-auto{
  margin-right: auto;
}