// header
$header-color-bg: linear-gradient(to bottom, #ffffff, #efefef 99%);
$hover-color: #58a3dc;

// toggleSearch
$toggle-bg-color: linear-gradient(to bottom, #58a3dc, #3887dc 97%);

// entertainment
$entertainment-bg-image: linear-gradient(to bottom, #e591a9, #ea4b80 97%);

// financial
$financial-bg-image: linear-gradient(to bottom, #c898cf, #b671c3 99%);

// mobileFinancial
$mobileFinancial-bg-image: linear-gradient(to bottom, #9ccb7a, #28b46d 97%);

// life
$life-bg-image: linear-gradient(to bottom, #58a3dc, #3887dc 97%);

// message
$message-bg-image: linear-gradient(to bottom, #ffc88a, #f78d38 97%);

// topup
$financialPay-color: #bb74c8;
$entertainment-color: #e74157;
$mobileFinancial-color: #5dbe73;
$life-color: #4593dc;
$message-color: #faa75c;

// popular
$popular-color: #00a2ff;
$roam-color: #00a2ff;

// great4G
$color-yellow: #fff368;

// index
$clip: polygon(50% 100%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);

// index-en
$color-orange: #fe7d03;
$color-green: #0a9400;
$color-blue: #0468fa;
$color-blue-2: #00a2ff;

$emome-blue: #00a2ff;